<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Formulario con CSS Externo</title>
  <link rel="stylesheet" href="../public/css/estilos.css">
</head>
<body>
  <form>
    <h1>Formulario Externo</h1>

    <label>Nombre:</label>
    <input type="text" name="nombre">

    <label>Comentario:</label>
    <textarea></textarea>

    <label>País:</label>
    <select>
      <option>Argentina</option>
      <option>Chile</option>
      <option>Perú</option>
      <option>Ecuador</option>
    </select>

    <label>Género:</label><br>
    <input type="radio" name="genero"> Hombre
    <input type="radio" name="genero"> Mujer
    <br><br>

    <label><input type="checkbox"> Acepto los términos</label>
    <br><br>

    <button type="submit">Enviar</button>
  </form>
</body>
</html>
